html{
  font-size:16px;
}

main{
  background-color:#d6d6d6;
  border-radius:6px; 
  margin:35px 2px;
  font-family:Garamond;
  text-align:center;
  
}
h1{
  font-size:3rem;
}
p{
  font-size:1.3rem;
}

.title-div{
text-align:center;
padding-top:10px;

}

#img-section{
margin:auto 15px;
border-radius:6px; 
padding:10px;
background-color:white;

}

#image{
  display: block;
  max-width: 100%;
  height:auto;  
  margin:0 auto;
  
}

#img-caption{
  margin: 15px auto;
}

#tribute-info{
  text-align:center;
  margin:50px auto;
  
}
ul{
  font-size:1.2rem;
  line-height: 1.5;
  text-align:left;
  max-width:500px;
  margin: 0 auto 50px auto; 
}

li{
  margin:20px auto;
}
